@model List<PickC.Services.DTO.CustomerDTO>
@using PickC.Internal.HtmlHelpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Internal/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid");
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Customer List</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            @grid.Table(
                                tableStyle: "table table-hover",
                                columns: grid.Columns(
                                    grid.Column("Name", "Name"),
                                    grid.Column("MobileNo", "Mobile No"),
                                    grid.Column("EmailID", "Email ID")
                                ),
                                htmlAttributes: new { id = "grid" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-sm-12">
                <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
            </div>
        </div>*@
</section>

