
@{
    ViewBag.Title = "How do I set emergency contacts?";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="col l8 offset-l1 m7 offset-m1 s12" data-reactid=".p.2.0.0.3">
                    <div data-reactid=".p.2.0.0.3.0">
                        <div class="dt-title" data-reactid=".p.2.0.0.3.0.0"><div class="dt-back" data-reactid=".p.2.0.0.3.0.0.0"></div><span data-reactid=".p.2.0.0.3.0.0.1">How do I set emergency contacts?</span></div><div class="issue-desc" data-reactid=".p.2.0.0.3.0.1">
                            <p dir="ltr">Tap on <strong>Emergency Contact</strong> from the app menu.<img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/202353791/Hamburger_3x.png" alt="" width="18" height="18"></p>
                            <p dir="ltr">Here, you can select up to 3 contacts from your phone's contact list whom you'd like to alert in an emergency.</p>
                            <p dir="ltr">After you have added an emergency contact, you can choose to turn on the feature <strong>Always share your ride details</strong>. This automatically sends your ride details to your emergency contact every time you make a booking. You can toggle this feature on or off anytime you want.</p>
                        </div><noscript data-reactid=".p.2.0.0.3.0.2"></noscript><div class="rel-desk" data-reactid=".p.2.0.0.3.0.3"><div class="sup-title" data-reactid=".p.2.0.0.3.0.3.0">Related topics</div><ul class="faq" data-reactid=".p.2.0.0.3.0.3.1"><li data-reactid=".p.2.0.0.3.0.3.1.0"><a class="support-link-small" data-reactid=".p.2.0.0.3.0.3.1.0.0">How do I raise an emergency alert?</a></li><li data-reactid=".p.2.0.0.3.0.3.1.1"><a class="support-link-small" data-reactid=".p.2.0.0.3.0.3.1.1.0">Ola Safety Standards</a></li><li data-reactid=".p.2.0.0.3.0.3.1.2"><a class="support-link-small" data-reactid=".p.2.0.0.3.0.3.1.2.0">Sharing cab details</a></li></ul></div><noscript data-reactid=".p.2.0.0.3.0.4"></noscript><div data-reactid=".p.2.0.0.3.0.5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
