
@{
    ViewBag.Title = "I am having trouble installing the app";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="col l8 offset-l1 m7 offset-m1 s12" data-reactid=".11.2.0.0.3">
                    <div data-reactid=".11.2.0.0.3.0">
                        <div class="dt-title" data-reactid=".11.2.0.0.3.0.0"><div class="dt-back" data-reactid=".11.2.0.0.3.0.0.0"></div><span data-reactid=".11.2.0.0.3.0.0.1">I am having trouble installing the app.</span></div><div class="issue-desc" data-reactid=".11.2.0.0.3.0.1">
                            <p><span style="font-weight: 400;">Please check your phone's OS version to ensure that it is compatible with the Olacabs app:</span></p>
                            <p><span style="font-weight: 400;">Android:<strong><a href="https://play.google.com/store/apps/details?id=com.olacabs.customer">Google Play Store</a> </strong>(Requires Android 4.0 or later)</span></p>
                            <p><span style="font-weight: 400;">iOS:<strong><a href="https://itunes.apple.com/in/app/ola-cabs/id539179365">App Store</a></strong></span><span style="font-weight: 400;"> (Requires iOS 7.0 or later)</span></p>
                            <p><span style="font-weight: 400;">Windows:<strong><a href="https://www.microsoft.com/en-us/store/apps/olacabs/9wzdncrdbv14">Windows Store</a></strong></span><span style="font-weight: 400;"> (Requires Windows 8 &amp; 8.1)</span></p>
                            <p><span style="font-weight: 400;">If your phone supports the app but you are still unable to install, please check the following:</span></p>
                            <p>- Make sure you are connected to the internet with a strong signal or a Wi-Fi connection. Your installation may not complete if the internet disconnects during download.<br>- Switch off and switch on your phone and try installing again.<br>- Make sure that you have enough memory on your phone to install the app. You can free up storage space by uninstalling other apps or deleting pictures or videos.</p>
                            <p>If you are still having trouble, please tell us about it.</p>
                            <p>Please mention the exact issue you are facing along with any error messages.</p>
                        </div><noscript data-reactid=".11.2.0.0.3.0.2"></noscript><noscript data-reactid=".11.2.0.0.3.0.4"></noscript><div data-reactid=".11.2.0.0.3.0.5"><div class="support-content  user-issue" data-reactid=".11.2.0.0.3.0.5.0"><form action="" data-reactid=".11.2.0.0.3.0.5.0.0"><div class="input-field" data-reactid=".11.2.0.0.3.0.5.0.0.0"><input name="user-email" value="" data-reactid=".11.2.0.0.3.0.5.0.0.0.0" type="email"><label class="for-email" for="user-email" data-reactid=".11.2.0.0.3.0.5.0.0.0.1">Your mail id</label></div><div class="write-desc" data-reactid=".11.2.0.0.3.0.5.0.0.1"><div name="user-desc" class="autoExpand null" data-reactid=".11.2.0.0.3.0.5.0.0.1.0" contenteditable="true"></div><label for="user-desc" data-reactid=".11.2.0.0.3.0.5.0.0.1.1">Description</label></div><span data-reactid=".11.2.0.0.3.0.5.0.0.2"></span><button data-target="search-modal" class="search-modal-trigger waves-effect btn submit-issue" data-reactid=".11.2.0.0.3.0.5.0.0.3">Submit</button></form></div></div><div class="d-footer" data-reactid=".11.2.0.0.3.0.6"><div class="dt-title" data-reactid=".11.2.0.0.3.0.6.0">For immediate assistance</div><div data-reactid=".11.2.0.0.3.0.6.1"><div class="" data-reactid=".11.2.0.0.3.0.6.1.0"><div data-reactid=".11.2.0.0.3.0.6.1.0.0"><a class="support-link pull-left" data-reactid=".11.2.0.0.3.0.6.1.0.0.0"><span data-reactid=".11.2.0.0.3.0.6.1.0.0.0.0">CALL US</span><span class="padding-left-15px" data-reactid=".11.2.0.0.3.0.6.1.0.0.0.1">3355 3355</span></a></div><div class="clearfix" data-reactid=".11.2.0.0.3.0.6.1.0.2"></div></div><div data-reactid=".11.2.0.0.3.0.6.1.1"><small data-reactid=".11.2.0.0.3.0.6.1.1.0">Please add your std code before the number.</small></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
