
@{
    ViewBag.Title = "Pickup Address";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="col l8 offset-l1 m7 offset-m1 s12" data-reactid=".5.2.0.0.3">
                    <div data-reactid=".5.2.0.0.3.0">
                        <div class="dt-title" data-reactid=".5.2.0.0.3.0.0"><div class="dt-back" data-reactid=".5.2.0.0.3.0.0.0"></div><span data-reactid=".5.2.0.0.3.0.0.1">Providing a pickup address</span></div><div class="issue-desc" data-reactid=".5.2.0.0.3.0.1">
                            <p><span class="wysiwyg-font-size-medium"><span style="font-weight: 400;">Please make sure your phone's location services are turned </span><strong>ON</strong><span style="font-weight: 400;">. This lets the app automatically select your current location as the pickup address. </span></span></p>
                            <p><span class="wysiwyg-font-size-medium">You can see your location on the map and the pickup address on the top.</span></p>
                            <p><span class="wysiwyg-font-size-medium" style="font-weight: 400;">You can also select your pickup address by doing either of the below:</span></p>
                            <p>- Enter your location in the search bar on top of the map.</p>
                            <p>- Move the map to the location where you want to be picked up.</p>
                            <p><span class="wysiwyg-font-size-medium"><span style="font-weight: 400;">(<span style="font-weight: 400;">Yo<em><span style="font-weight: 400;">u can save a pickup address as your favourite by tapping the&nbsp;</span></em></span><span style="font-weight: 400;"><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/202353791/Hamburger_3x.png" alt="" height="18" width="18"></span></span><em><span style="font-weight: 400;">&nbsp;icon beside the address.</span></em><span style="font-weight: 400;">)</span></span></p>
                            <p><span class="wysiwyg-font-size-medium"><strong>Please note</strong><span style="font-weight: 400;"> that you will not be able to change your pickup address once your booking is confirmed.</span></span></p>
                        </div><noscript data-reactid=".5.2.0.0.3.0.2"></noscript><div class="rel-desk" data-reactid=".5.2.0.0.3.0.3"><div class="sup-title" data-reactid=".5.2.0.0.3.0.3.0">Related topics</div><ul class="faq" data-reactid=".5.2.0.0.3.0.3.1"><li data-reactid=".5.2.0.0.3.0.3.1.0"><a class="support-link-small" data-reactid=".5.2.0.0.3.0.3.1.0.0">Entering a drop location </a></li><li data-reactid=".5.2.0.0.3.0.3.1.1"><a class="support-link-small" data-reactid=".5.2.0.0.3.0.3.1.1.0">Ride Estimate</a></li><li data-reactid=".5.2.0.0.3.0.3.1.2"><a class="support-link-small" data-reactid=".5.2.0.0.3.0.3.1.2.0">Location services</a></li></ul></div><noscript data-reactid=".5.2.0.0.3.0.4"></noscript><div data-reactid=".5.2.0.0.3.0.5"></div><div class="survey-container" data-reactid=".5.2.0.0.3.0.7"><div class="survey-head" data-reactid=".5.2.0.0.3.0.7.0"><div class="title" data-reactid=".5.2.0.0.3.0.7.0.0">Was this article helpful?</div></div><div class="survey-body" data-reactid=".5.2.0.0.3.0.7.1"><div class="survey-rate" data-reactid=".5.2.0.0.3.0.7.1.0"><div class="survey-rate-container" data-reactid=".5.2.0.0.3.0.7.1.0.0"><div class="rate-button-container" data-reactid=".5.2.0.0.3.0.7.1.0.0.0"><a class="yes support-link" data-reactid=".5.2.0.0.3.0.7.1.0.0.0.0">Yes</a><a class="no support-link" data-reactid=".5.2.0.0.3.0.7.1.0.0.0.1">No</a></div></div></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
