
@{
    ViewBag.Title = "Ride Options";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="col l8 offset-l1 m7 offset-m1 s12" data-reactid=".l.2.0.0.3">
                    <div data-reactid=".l.2.0.0.3.0">
                        <div class="dt-title" data-reactid=".l.2.0.0.3.0.0"><div class="dt-back" data-reactid=".l.2.0.0.3.0.0.0"></div><span data-reactid=".l.2.0.0.3.0.0.1">Ride options</span></div><div class="issue-desc" data-reactid=".l.2.0.0.3.0.1">
                            <p class="wysiwyg-text-align-left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                            <p class="wysiwyg-text-align-left"><strong style="font-weight: bold;"><span class="wysiwyg-font-size-medium"><img class="wysiwyg-text-align-center" src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205740329/Micro.png" alt="" height="75" width="75"></span></strong></p>
                            <p class="wysiwyg-text-align-left"><strong><span class="wysiwyg-font-size-medium">&nbsp; &nbsp; Micro</span></strong></p>
                            <p class="wysiwyg-text-align-left">The most economical cab offering from Ola. <strong>Seats up to 4 passengers.</strong></p>
                            <p class="wysiwyg-text-align-left">Cars like <em>Maruti WagonR, Hyundai Eon, Datsun Go</em> are available in this category.&nbsp;</p>
                            <p class="wysiwyg-text-align-left">&nbsp;</p>
                            <p><strong style="line-height: 1.5;"><img class="wysiwyg-text-align-left" src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205746349/Mini.png" alt="" height="72" width="72"></strong></p>
                            <p><strong style="line-height: 1.5;">&nbsp; &nbsp; &nbsp;Mini</strong></p>
                            <p>The most popular cab in Ola. <strong>Seats up to 4 passengers</strong>.</p>
                            <p>Cars like <em>Maruti Ritz, Nissan Micra, Tata Indica</em> are available in this category.</p>
                            <p>&nbsp;</p>
                            <p><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205746469/share.png" alt="" height="72" width="72"></p>
                            <p><strong style="line-height: 1.5;">&nbsp; &nbsp; Share&nbsp;</strong></p>
                            <p>Share your ride with travellers heading to the same destination or in the same direction.</p>
                            <p><strong>Book up to 2 seats</strong> on your Ola Share ride.&nbsp;</p>
                            <p>Cars like <em>Tata Indica, Nissan Micra, Toyota Etios, and Tata Indigo</em> are available in this category.</p>
                            <p>&nbsp;</p>
                            <p><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205746609/Prime-New.png" alt="" height="69" width="74"></p>
                            <p><strong>Prime Sedan</strong></p>
                            <p>Recommended for business travel with features such as Auto Connect Wi-Fi.&nbsp;</p>
                            <p><strong>Seats up to 4 passengers</strong>.&nbsp;</p>
                            <p>Cars like <em>Toyota Etios, Tata Indigo, Maruti Dzire</em> are available in this category.</p>
                            <p>&nbsp;</p>
                            <p><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205746609/Prime-New.png" alt="" height="69" width="74"></p>
                            <p><strong style="line-height: 1.5;"><strong>Prime </strong>SUV</strong></p>
                            <p>Recommended for family rides with more space and greater comfort.</p>
                            <p><strong>Seats up to 6&nbsp;passengers</strong>.&nbsp;</p>
                            <p>Cars like <em>Toyota Innova, Honda CRV, Maruti Ertiga</em> are available in this category.</p>
                            <p>&nbsp;</p>
                            <p><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205753209/Luxury_selected.png" alt="" height="72" width="72"></p>
                            <p><strong>&nbsp; &nbsp; &nbsp;Lux</strong></p>
                            <p>Recommended for best-in-class ride experience loaded in our finest fleet of luxury cars.</p>
                            <p><strong>Seats up to 6 passengers</strong>.</p>
                            <p>Cars like <em>Mercedes, Audi, BMW, Fortuner, Camry, and Accord</em> are available in this category.</p>
                            <p>&nbsp;</p>
                            <p><strong><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205794925/Auto.png" alt="" height="72" width="72"></strong></p>
                            <p><strong>&nbsp; &nbsp; Auto</strong></p>
                            <p>Book local transport services like auto-rickshaws near your locality using your Ola app.&nbsp;</p>
                            <p>Currently, this service is available in limited cities only.</p>
                            <p>&nbsp;</p>
                            <p><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205795165/Rentals.png" alt="" height="72" width="72"></p>
                            <p><strong>&nbsp; &nbsp;Rental</strong></p>
                            <p>Rent chauffeur-driven AC cars on hourly packages at best prices from your Ola app. &nbsp;</p>
                            <p>Opt&nbsp;for&nbsp;Mini, Prime or Lux &nbsp;as per your travel requirements.</p>
                            <p>Currently, this service is available in limited cities only.</p>
                            <p>&nbsp;</p>
                            <p><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205753569/Outstation.png" alt="" height="72" width="72"></p>
                            <p><strong>Outstation</strong></p>
                            <p>Book an Ola for your outstation travel by selecting the&nbsp;Outstation icon on your Ola app.</p>
                            <p>Opt&nbsp;for&nbsp;<em>Mini or Prime </em>as per your travel requirements.</p>
                            <p>Currently, this service is available in limited cities only.</p>
                            <p>&nbsp;</p>
                            <p><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205753589/Shuttle__1_.png" alt="" height="72" width="72"></p>
                            <p><strong>&nbsp; Shuttle</strong></p>
                            <p>Travel in comfort of AC and enjoy free WiFi with Shuttle, an economical daily commute option.</p>
                            <p>Reserve a seat on shuttle enroute to your locality from your Ola app.</p>
                            <p>Currently, this service is available in limited cities only.</p>
                            <p>&nbsp;</p>
                            <p><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205795325/E-Rick.png" alt="" height="72" width="72">&nbsp; &nbsp;&nbsp;</p>
                            <p><strong>&nbsp; &nbsp;E-Rick</strong></p>
                            <p>Battery operated and hence environment-friendly,&nbsp;E-Rick is&nbsp;a perfect choice for short distance travel.&nbsp;</p>
                            <p><strong>Seats up to 4 passengers</strong>.</p>
                            <p>Get an E-Rick at your doorstep when you book from your Ola app.</p>
                            <p>&nbsp;</p>
                            <p><img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/205753769/Bike.png" alt="" height="72" width="72"></p>
                            <p><strong>&nbsp; &nbsp; &nbsp;Bike</strong></p>
                            <p>A&nbsp;great option for commuters looking for short-distance and affordable trips.</p>
                            <p>Zip through the city affordably, when you book a bike from&nbsp;your Ola app.&nbsp;</p>
                            <p>Currently, this service is available in limited cities only.</p>
                        </div><noscript data-reactid=".l.2.0.0.3.0.2"></noscript><div class="rel-desk" data-reactid=".l.2.0.0.3.0.3"><div class="sup-title" data-reactid=".l.2.0.0.3.0.3.0">Related topics</div><ul class="faq" data-reactid=".l.2.0.0.3.0.3.1"><li data-reactid=".l.2.0.0.3.0.3.1.0"><a class="support-link-small" data-reactid=".l.2.0.0.3.0.3.1.0.0">Booking a cab</a></li><li data-reactid=".l.2.0.0.3.0.3.1.1"><a class="support-link-small" data-reactid=".l.2.0.0.3.0.3.1.1.0">Booking a cab in advance</a></li><li data-reactid=".l.2.0.0.3.0.3.1.2"><a class="support-link-small" data-reactid=".l.2.0.0.3.0.3.1.2.0">Providing a pickup address</a></li></ul></div><noscript data-reactid=".l.2.0.0.3.0.4"></noscript><div data-reactid=".l.2.0.0.3.0.5"></div><div class="survey-container" data-reactid=".l.2.0.0.3.0.7"><div class="survey-head" data-reactid=".l.2.0.0.3.0.7.0"><div class="title" data-reactid=".l.2.0.0.3.0.7.0.0">Was this article helpful?</div></div><div class="survey-body" data-reactid=".l.2.0.0.3.0.7.1"><div class="survey-rate" data-reactid=".l.2.0.0.3.0.7.1.0"><div class="survey-rate-container" data-reactid=".l.2.0.0.3.0.7.1.0.0"><div class="rate-button-container" data-reactid=".l.2.0.0.3.0.7.1.0.0.0"><a class="yes support-link" data-reactid=".l.2.0.0.3.0.7.1.0.0.0.0">Yes</a><a class="no support-link" data-reactid=".l.2.0.0.3.0.7.1.0.0.0.1">No</a></div></div></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
