
@{
    ViewBag.Title = "Safety concerns? Call us!";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="col l8 offset-l1 m7 offset-m1 s12" data-reactid=".l.2.0.0.3">
                    <div data-reactid=".l.2.0.0.3.0">
                        <div class="dt-title" data-reactid=".l.2.0.0.3.0.0"><div class="dt-back" data-reactid=".l.2.0.0.3.0.0.0"></div><span data-reactid=".l.2.0.0.3.0.0.1">Safety concerns? Call us!</span></div><div class="issue-desc" data-reactid=".l.2.0.0.3.0.1">
                            <p>Your safety and comfort are our top priority. We have strong safety features and policies in place to make your ride safe, comfortable and reliable.</p>
                            <p>If you have any concerns regarding your safety, please call us and we will look into it with immediate attention.</p>
                        </div><noscript data-reactid=".l.2.0.0.3.0.2"></noscript><noscript data-reactid=".l.2.0.0.3.0.4"></noscript><div data-reactid=".l.2.0.0.3.0.5"></div><div class="d-footer" data-reactid=".l.2.0.0.3.0.6"><div class="dt-title" data-reactid=".l.2.0.0.3.0.6.0">Need additional help?</div><div data-reactid=".l.2.0.0.3.0.6.1"><div class="" data-reactid=".l.2.0.0.3.0.6.1.0"><div data-reactid=".l.2.0.0.3.0.6.1.0.0"><a class="support-link pull-left" data-reactid=".l.2.0.0.3.0.6.1.0.0.0"><span data-reactid=".l.2.0.0.3.0.6.1.0.0.0.0">CALL US</span><span class="padding-left-15px" data-reactid=".l.2.0.0.3.0.6.1.0.0.0.1">3355 3355</span></a></div><div class="clearfix" data-reactid=".l.2.0.0.3.0.6.1.0.2"></div></div><div data-reactid=".l.2.0.0.3.0.6.1.1"><small data-reactid=".l.2.0.0.3.0.6.1.1.0">Please add your std code before the number.</small></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
