
@{
    ViewBag.Title = "Safety";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="left-menu">
                    <ul>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=safetycallus")"><i class="fa fa-chevron-circle-right"></i> Safety concerns? Call us!</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=safetystnds")"><i class="fa fa-chevron-circle-right"></i> Ola Safety Standards</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=emergencycontact")"><i class="fa fa-chevron-circle-right"></i> How do I set emergency contacts?</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=emergencyalert")"><i class="fa fa-chevron-circle-right"></i> How do I raise an emergency alert?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

