@{
    ViewBag.Title = "FAQS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="help">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="content">
                    <h3 style="text-align:center">FAQs</h3>
                    @*<div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapseOne">
                                        i am having trouble installing / updating 
                                        the app.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>
                                        Make sure that the OS you have in your mobile is compatible with Pick-C app.
                                        Below are the OS versions of android and apple that are compatible with Pick-C app:
                                    </p>
                                    <p>
                                        <b>OS version for Android:</b> 5.0 or above
                                    </p>
                                    <p> <b> OS version for apple IOS:</b> </p>
                                    <p>   If you still unable to install the Pick-C app make sure you are connected to internet through Wi-Fi, you may not be able to install if the internet connection is disconnected. Also make sure you have enough memory in your mobile phone.</p>

                                    Note: You don’t need to uninstall or remove the application in order to update.
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 1 end-->
                       
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapseTwo">I am having trouble registering on the app.</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Before registering into the app, make sure that you have a valid mobile number and email id. Also check if you are connected to internet using Wi-Fi connection.
                                        Refer Signing up with Pick-C to register in Pick-C app.

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapseThree">I am not able to log in to my account.</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        You must log in to the Pick-C app with your registered mobile number and password.
                                        If you have forgotten your password, tap the Forgot password link. Once you have successfully reset your password you must login with the new password.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 3 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse4">I am not able to log in to my account.</a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        You must log in to the Pick-C app with your registered mobile number and password.
                                        If you have forgotten your password, tap the Forgot password link. Once you have successfully reset your password you must login with the new password.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 4 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse5">I am not getting the OPT for changing my password.</a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Make sure that the number you have entered is a registered mobile number, and you will receive the OTP on that registered mobile number.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 5 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse6">How to change my password?</a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        To change your password, follow below steps:<br />
                                        1. Login to the pick-c app.<br />
                                        2. Click menu option.<br />
                                        3. Tap on your name.<br />
                                        4. Tap on edit icon in password field.<br />
                                        5. Enter old and new password.<br />
                                        6. Tap on continue and tap Update profile.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 6 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse7">How to change my email id?</a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        T o change your password, follow below steps:<br />
                                        1. Login to the pick-c app.<br />
                                        2. Click menu option.<br />
                                        3. Tap on your name.<br />
                                        4. Tap on edit icon in email id field.<br />
                                        5. Enter a new email id.<br />
                                        6. Tap Update profile.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 7 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse8">I am not able to change my mobile number.</a>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Pick-C app doesn’t allow you to change your mobile number.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 8 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse9">Do I need to pay if I cancel the booking?</a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Pick-C will not charge for cancelling your booking. But if truck reaches pickup location and waits for 5 minutes, and further there is no response from the customer, the driver may leave pickup location or cancel the booking and customer will be charged for cancellation, refer to Rate card for cancellation charges applicable.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 9 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse10">If I cancel the booking will I be able to book a trip again?</a>
                                </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Pick-C allows you to book your trip multiple times even if you have cancelled your trip.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 10 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse11">Can I book a truck for someone else?</a>
                                </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Yes you can, all u need to do is set the location in pickup location from where the cargo should be picked up.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 11 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse12">How do I change truck options after booking?</a>
                                </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        You need to cancel the booking first and then book a trip with required truck again.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 12 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse13">What cards can I use to pay for Trip booking?</a>
                                </h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        You can use VISA, Master, AMEX, Maestro, RuPay, or Diners card for paying your trip booked.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 13 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse14">How can I add a card to my Pick-C account? </a>
                                </h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        To add a card to your Pick-C account, follow these steps:


                                    </p>
                                    <p> 1. Login to Pick-C app.   </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Panel 14 end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-trigger="hover" data-parent="#submenu" href="#collapse15">I am unable to book a trip using my card for book later. </a>
                                </h4>
                            </div>
                            <div id="collapse15" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Make sure to add the correct details of your credit or debit card, you are allowed to pay through cards only after the trip is completed.


                                    </p>

                                </div>
                            </div>
                        </div>
                        <!--/ Panel 15 end-->
                    </div>*@<!--/ Accordion end-->


                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Collapsible Group Item #2
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Collapsible Group Item #3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="gap-40"></div>

                </div>
            </div>
        </div>
    </div>
</section>

