
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="content" style="padding-bottom:40px;padding-top:40px;min-height:450px; text-align:center;">
                    @*<h2 class="title" style="text-align:center"><span class="title-head">Careers </span></h2>*@

                    <img src="~/images/pageunderconstruction.png" />
                    </div>
                </div>
            </div>
        </div>
        </section>

