
@{
    ViewBag.Title = "Create PickC Account";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="col l8 offset-l1 m7 offset-m1 s12" data-reactid=".1t.2.0.0.3">
                    <div data-reactid=".1t.2.0.0.3.0">
                        <div class="dt-title" data-reactid=".1t.2.0.0.3.0.0"><div class="dt-back" data-reactid=".1t.2.0.0.3.0.0.0"></div><span data-reactid=".1t.2.0.0.3.0.0.1">Creating an Ola account</span></div><div class="issue-desc" data-reactid=".1t.2.0.0.3.0.1">
                            <p><span style="font-weight: 400;">Here are a few tips to help you get started with Ola:</span></p>
                            <p>While registering, please enter an email ID that you can access and ensure that the spelling is correct. This is necessary as all important emails such as booking confirmation, invoice and password reset email will be sent to this email ID.</p>
                            <p><span style="font-weight: 400;">Once you've filled the registration form and tapped </span><strong>REGISTER</strong><span style="font-weight: 400;">, you will receive a verification code on the mobile number you entered. Your account will be created only after you verify your number using this code.</span></p>
                            <p><span style="font-weight: 400;">If your</span><strong> email ID or mobile number is already registered </strong><span style="font-weight: 400;">on Ola, please log in instead of signing up. You can tap </span><strong>Forgot Password?</strong><span style="font-weight: 400;"> link on the login page if you do not remember your password.</span></p>
                            <p><span style="font-weight: 400;">You can earn a free-ride coupon by entering a </span><strong>referral code</strong><span style="font-weight: 400;"> while signing up. You can get this code from a friend who has an Ola account. The referral code can be found in the </span><strong>Offers and Free Rides</strong><span style="font-weight: 400;"> section of your friend's Ola app. You can still <strong>register</strong></span><strong>&nbsp;without a referral code</strong><span style="font-weight: 400;"> by leaving the option blank.</span></p>
                            <p>Please note that there is a limit on the number of accounts that can be created on one mobile device.</p>
                        </div><noscript data-reactid=".1t.2.0.0.3.0.2"></noscript><div class="rel-desk" data-reactid=".1t.2.0.0.3.0.3"><div class="sup-title" data-reactid=".1t.2.0.0.3.0.3.0">Related topics</div><ul class="faq" data-reactid=".1t.2.0.0.3.0.3.1"><li data-reactid=".1t.2.0.0.3.0.3.1.0"><a class="support-link-small" data-reactid=".1t.2.0.0.3.0.3.1.0.0">Downloading the app</a></li><li data-reactid=".1t.2.0.0.3.0.3.1.1"><a class="support-link-small" data-reactid=".1t.2.0.0.3.0.3.1.1.0">I am having trouble registering on the app.</a></li><li data-reactid=".1t.2.0.0.3.0.3.1.2"><a class="support-link-small" data-reactid=".1t.2.0.0.3.0.3.1.2.0">Updating the app</a></li></ul></div><noscript data-reactid=".1t.2.0.0.3.0.4"></noscript><div data-reactid=".1t.2.0.0.3.0.5"></div><div class="survey-container" data-reactid=".1t.2.0.0.3.0.7"><div class="survey-head" data-reactid=".1t.2.0.0.3.0.7.0"><div class="title" data-reactid=".1t.2.0.0.3.0.7.0.0">Was this article helpful?</div></div><div class="survey-body" data-reactid=".1t.2.0.0.3.0.7.1"><div class="survey-rate" data-reactid=".1t.2.0.0.3.0.7.1.0"><div class="survey-rate-container" data-reactid=".1t.2.0.0.3.0.7.1.0.0"><div class="rate-button-container" data-reactid=".1t.2.0.0.3.0.7.1.0.0.0"><a class="yes support-link" data-reactid=".1t.2.0.0.3.0.7.1.0.0.0.0">Yes</a><a class="no support-link" data-reactid=".1t.2.0.0.3.0.7.1.0.0.0.1">No</a></div></div></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
