
@{
    ViewBag.Title = "DriverInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<div class="container content" >
    <div style="border:1px solid #e7e7e7;">
        <br />
        <h2 class="title"> <span class="title-head" style="font-size:30px;"> Driver Invoice</span> </h2>
        <br />
        <div class="row">
            <div class="col-md-1 col-md-offset-1">
                <div class="driverpic text-center">
                    <img src="~/images/driver.jpg" style="width:100%;max-width:65px;height:auto;" />
                </div>
            </div>
            <div class="col-md-4">
                <p><b>Driver Name : </b> PR Techno Solutions Pvt</p>
                <p><b>Driver ID : </b> PR Techno Solutions Pvt</p>
                <br />

                <p><b>Invoice Number : </b> PR Techno Solutions Pvt</p>
                <p><b>Invoice ID : </b> PR Techno Solutions Pvt</p>
                <p><b>Invoice Date : </b> 10/03/1989 </p>
            </div>
            <div class="col-md-2 text-right">
                <div class="vhl_pic">
                    <img src="~/images/DOST_shadow.jpg" style="width: 100%; height: auto; max-width: 110px;" />
                </div>
            </div>
            <div class="col-md-3">
                <p><b>Vehicle Type :</b> AP1004</p>
                <p><b>Vehicle ID :</b> 12345</p>
                <p><b>Vehicle Category :</b> 1 TOn</p>

                <br />
                <p><b>Tax Category :</b> Tax category</p>
            </div>
        </div>
        <hr style="margin:5px 0px;" />
        <div class="row">
            <div class="col-md-5 col-md-offset-1"><h4><b>CRN Number : 12464874549874</b></h4></div>
            <div class="col-md-4  col-md-offset-2"><h4><b>GST Number :</b> 46847861</h4></div>
        </div>
        <hr style="margin:5px 0px;" />
        <h2 class="title"> <span class="title-head" style="font-size:20px;">  Tripe Details</span> </h2>
        <br />
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p><b>Customer Name:</b></p>
                <p><b>Customer Mobile No. :</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h4><b>From Location :</b></h4>
                <p>
                    #26, Overlook Road Ardsley,
                    NY-10502, USA
                </p><p>
                    Phone : +1. 646. 696 6005
                </p><p>
                    Email : info@pickcargo.in
                </p>
                <br />

            </div>
            <div class="col-md-3 col-md-offset-2">
                <h4><b>To Location :</b></h4>
                <p>
                    #26, Overlook Road Ardsley,
                    NY-10502, USA
                </p><p>
                    Phone : +1. 646. 696 6005
                </p><p>
                    Email : info@pickcargo.in
                </p>
            </div>
        </div>
        <h2 class="title"> <span class="title-head" style="font-size:20px;"> Tripe Charges</span> </h2>
        <br />
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table style="width:100%;" class="table table-bordered">
                    <tr>
                        <th style="text-align:right; width:80%;">Tripe Charge :</th>
                        <td style="text-align:right">@*<img src="~/images/rupee.png" style="display:inline-block;" />*@ Rs. 200/-</td>
                    </tr>
                    <tr>
                        <th style="text-align:right;width:80%;">GST Charge :</th>
                        <td style="text-align:right">@*<img src="~/images/rupee.png" style="display:inline-block;" />*@ Rs. 200/-</td>
                    </tr>
                    <tr>
                        <th style="text-align:right;width:80%;">GST Charge :</th>
                        <td style="text-align:right">@*<img src="~/images/rupee.png" style="display:inline-block;" />*@ Rs. 200/-</td>
                    </tr>
                    <tr>
                        <th style="text-align:right;width:80%;">GST Charge :</th>
                        <td style="text-align:right">@*<img src="~/images/rupee.png" style="display:inline-block;" />*@ Rs. 200/-</td>
                    </tr>
                    <tr>
                        <th style="text-align:right;width:80%; font-size:20px;"><b>Grand Total :</b></th>
                        <td style="text-align:right; font-size:20px;"><b>@*<img src="~/images/rupee.png" style="display:inline-block;" />*@ Rs. 200/-</b></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="font-size:10px;">
                <b style="font-size:10px;">*Note:</b> 
                </div>
</div>
            </div>
            <br />
        </div>
        <br /><br />
