
@{
    ViewBag.Title = "DriverInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<div class="container content" >
    <div style="border:1px solid #e7e7e7;">
    <br />
    <h2 class="title"> <span class="title-head" style="font-size:30px;"> Driver Invoice</span> </h2>
    <br />
    <div class="row">
        <div class="col-md-1 col-md-offset-1">
            <div class="driverpic text-center">
                <img src="~/images/driver.jpg" style="width:100%;max-width:65px;height:auto;" />
            </div>
        </div>
        <div class="col-md-4">
            <p><b>Driver Name:</b></p>
            <p><b>Driver ID :</b></p>
            <br />

            <p><b>Invoice Number</b></p>
            <p><b>Invoice ID</b></p>
            <p><b>Invoice Date</b></p>
        </div>
        <div class="col-md-1">
            <div class="vhl_pic">
                <img src="~/images/DOST_shadow.jpg" style="width:100%;max-width:65px;height:auto;" />
            </div>
        </div>
        <div class="col-md-4">
            <p><b>vehicle Type:</b></p>
            <p><b>vehicle ID :</b></p>
            <p><b>vehicle category:</b></p>

            <br />
            <p><b>Tax category:</b></p>
        </div>
    </div>
        <hr style="margin:5px 0px;" />
         <div class="row">
        <div class="col-md-5 col-md-offset-1"><h4><b>CRN Number :</b></h4></div>
        <div class="col-md-5"><h4><b>GST Number :</b></h4></div>
    </div>
        <hr style="margin:5px 0px;" />
    <h2 class="title"> <span class="title-head" style="font-size:20px;">  Tripe Details</span> </h2>
    <br/>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p><b>Customer Name:</b></p>
            <p><b>Customer Mobile No.:</b></p>
            </div>
        </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <h4><b>From Location:</b></h4>
                    <p>
                        #26, Overlook Road Ardsley,
                        NY-10502, USA
                    </p><p>
                        Phone : +1. 646. 696 6005
                    </p><p>
                        Email : info@pickcargo.in
                    </p>
                    <br />

                </div>
                <div class="col-md-5">
                    <h4><b>To Location:</b></h4>
                    <p>
                        #26, Overlook Road Ardsley,
                        NY-10502, USA
                    </p><p>
                        Phone : +1. 646. 696 6005
                    </p><p>
                        Email : info@pickcargo.in
                    </p>
                </div>
            </div>
            <h2 class="title"> <span class="title-head" style="font-size:20px;"> Tripe Charges</span> </h2>
            <br />
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <table style="width:100%;" class="table table-bordered">
                        <tr>
                            <th style="text-align:right; width:80%;">Tripe Charge :</th>
                            <td style="text-align:right">@*<img src="~/images/rupee.png" style="display:inline-block;" />*@ Rs. 200/-</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;width:80%;">GST Charge :</th>
                            <td style="text-align:right">@*<img src="~/images/rupee.png" style="display:inline-block;" />*@ Rs. 200/-</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;width:80%;">GST Charge :</th>
                            <td style="text-align:right">@*<img src="~/images/rupee.png" style="display:inline-block;" />*@ Rs. 200/-</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;width:80%;">GST Charge :</th>
                            <td style="text-align:right">@*<img src="~/images/rupee.png" style="display:inline-block;" />*@ Rs. 200/-</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;width:80%; font-size:20px;"><b>Grand Total :</b></th>
                            <td style="text-align:right; font-size:20px;"><b>@*<img src="~/images/rupee.png" style="display:inline-block;" />*@ Rs. 200/-</b></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <br />
    </div>
<br/><br/>