@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="help">

    <div class="container">
        <div class="content">
            <ol>
                <li id="using-pick">
                    <div class="row">

                        <div class="col-md-12">



                            <h1  style="text-align:left; line-height:48px;">
                                terms &amp; conditions
                            </h1>

                            <h2 class="sub-title">   last updated on january, 1st 2017     </h2>


                            <u class="min-title"><b>definitions</b></u>


                            <ol type=i class="list">
                                <li>

                                   
                                        <b>
                                            "Application”
                                        </b>
                                     means an app developed by PR Techno Solutions Pvt. Ltd. by name <b>Pick-C</b> to provide a platform for prospective users for transportation of their goods from one place to another place.





                                </li>

                                <li>

                                   
                                        <b>
                                            “Customer or User”
                                        </b>
                                     means a person who uses the application or who reserve the vehicle by booking for transportation.




                                </li>
                                <li>

                                   
                                        <b>
                                            “Charges, Fare, or Pricing”
                                        </b>
                                     means an amount to be paid or paid for the services utilized or about to utilize which may include taxes and applicable surcharges.



                                </li>
                                <li>

                                   
                                        <b>
                                            "Damages”
                                        </b>
                                    means includes theft, fine, penalties of the goods that being transported in vehicle booked through the app,death, wounding, and injury of any person.

                                </li>
                                <li>
                                   
                                        <b>
                                            “Loading and Unloading”
                                        </b>
                                     goods or cargo that may require assistance of labour resource to keep the said cargo or goods into the vehicle or to unload the said goods from the vehicle.



                                </li>
                                <li>

                                   
                                        <b>
                                            " PR Techno Solutions Pvt. Ltd. ” “We” “Us” and “Our”
                                        </b>
                                     means a company incorporated under the companies act to conduct a business with regard to service provider of the said application and having its registered office at 3rd Floor, Plot No.12-A, Survey No.71/1, Jai Hind Gandhi Rd, VIP Hills, Madhapur, Hyderabad, 500081, India.


                                </li>
                                <li>
                                   
                                        <b>
                                            "Restricted Loading and Unloading”
                                        </b>
                                     means assistance to the customer by a vehicle’s driver, by charging extra amount on the said service which is optional to the driver and his sole discretion.


                                </li>
                                <li>
                                   
                                        <b>
                                            "Taxes”
                                        </b>
                                    means all the taxes not limited to service tax, value added taxes, other applicable taxes, any taxes that may introduced by the state, and central governments.
                                </li>
                                <li>
                                   
                                        <b>
                                            "Vehicles”
                                        </b>
                                     means goods carrier runs on variant types of fuels to carry the goods and vehicles complied in paying all statutory requirements.


                                </li>
                                <li>
                                   
                                        <b>
                                            "Vehicle Providers”
                                        </b>
                                     means a person or group of persons or a company owns vehicle/vehicles along with or without driver/drivers.


                                </li>
                            </ol>
                            <br />
                            <ol type="0">
                                <li>

                                    <u>
                                        <b>
                                            general
                                            applicability
                                        </b>
                                    </u>


                                    <p>
                                        Terms and conditions of this agreement govern all bookings done by the user and the service providing vehicle providers.

                                    </p>

                                </li>
                                <li>

                                    <u>
                                        <b>
                                            android
                                            / IOS,  mobile application
                                        </b>
                                    </u>



                                    <p>
                                        This mobile application has been developed with an intention to provide common platform for the users and the people who are in the business of goods transportation. The name of the application is<b> Pick-C</b>, PR Techno Solutions Pvt. Ltd. (hereinafter referred to as “developers, service provider, and we”) is the developer of this application, we are committed to ensure that this application is as useful and efficient as possible. Hence we reserve the right to make changes to this application without any prior notice or to charge for its services, at any time and for any reason. We will never charge you for the application or its services without making it very clear to you.

                                    </p>
                                    <br/>
                                    <p>

                                        By downloading or using the application, these terms will automatically apply to you and you should make sure therefore that you read them carefully before using the application. We are offering you this application to use for your own personal use without cost, but you are never allowed to modify the application or any part of the application, or our trademarks in any way. You’re not allowed to attempt to extract the source code of the application, and you also shouldn’t try to translate the application into other languages, or make derivative versions. The application itself and all the trade marks, copyright, database rights, and other intellectual property rights related to it still belongs to PR Techno Solutions Pvt. Ltd.

                                    </p>
                                </li>

                                <li>

                                    <u>
                                        <b>
                                            Applicable Laws
                                        </b>
                                    </u>


                                    <p>

                                        This document is an electronic record in terms of information technology act, 2000 and rules there under as applicable and the provisions pertaining to electronic records in various statutes and as amended by the information technology act, 2000. This electronic record is generated by a computer system and does not require any physical or digital signatures and the services are associated with vehicles all provisions of motor vehicles act and other carrier laws are applicable, it is to be noted the PR Techno Solutions Pvt. Ltd. is limited to providing only the reservation of vehicles for goods or cargo transportation through the application, any claims by user is limited to the application services, user should understand that all the vehicle providing services are owned by third parties and PR Techno Solutions Pvt. Ltd. is only creating the platform, hence any errors and omissions and commission done by vehicle owners, vehicle drivers PR Techno Solutions Pvt. Ltd. is no way liable.

                                    </p>
                                </li>
                                <li>
                                    <u><b>Eligibility</b></u>

                                    <p>

                                        It is understood that user or whoever using this application shall be completed the age of 18 years and he/she shall attain majority in age and should have all the qualifications to enter into a contract.

                                    </p>
                                </li>

                                <li>

                                    <u>
                                        <b>
                                            User Covenants
                                        </b>
                                    </u>

                                    <p>

                                        User completely acknowledged that the vehicles that being booked by him through this application are not the vehicles of PR Techno Solutions Pvt. Ltd. and the said vehicles are being run by the drivers of respective owner or the drivers of the respective vehicle (own vehicles) and driver of the respective truck, the said vehicle providers are members who registered with PR Techno Solutions Pvt. Ltd. through a separate agreement, hence the PR Techno Solutions Pvt. Ltd. shall not have any liability of any loss, missing and miss-transported, or met with an accident while transporting the goods, any such liability shall be on the vehicle provider and driver of the vehicle.

                                    </p>
                                    <br />
                                    <p>

                                        User covenants that user will not pressurize the vehicle provider or vehicle driver to violate or breaking the laws.

                                    </p>
                                    <br />
                                    <p>

                                        User covenants that user will not use the vehicles for any illegal and unlicensed goods and the goods which are prohibited by law, if any goods required to possess need to have a special permission from the concerned authorities, user shall possess such valid permission or bills for possession of goods which is being transported from concerned authorities, user shall only be responsible for any illegal acts and illegal transports.

                                    </p>
                                </li>

                                <li>

                                    <u>
                                        <b>
                                            Installation Of The Application And Registration
                                        </b>
                                    </u>


                                    <p>
                                        User should be aware that there are certain things that PR Techno Solutions Pvt. Ltd. will not take responsibility for certain functions of this application, such as the ability to download.The internet connection can be Wi-Fi or provided by your mobile network provider, but PR Techno Solutions Pvt. Ltd. cannot take responsibility for the application not working at full functionality if you don’t have access to internet, if you don’t have any of your data allowance left, and if the user is using this application outside the Wi-Fi connection area. Then the terms of agreement with user’s mobile network provider will apply.

                                    </p>
                                    <br />
                                    <p>

                                        Upon downloading the application user has to enter a valid email id or mobile number following which a verification link would be sent to either email id or mobile. Upon receipt of the verification link on your email id or mobile number, and user shall enter verification code at appropriate place within 15(fifteen) minutes of receiving the said verification code in order to complete the fore said verification process. In the event of failure to click on the verification link within the above mentioned timeline, the same would lapse and user will have to repeat the process set out in this clause. In order to use the application if user played any fraud, impersonation, or create any false account. User shall only be responsible for consequences.PR Techno Solutions Pvt. Ltd. shall not have any liability of false, incomplete, old, or incorrect registration data provided by user..

                                    </p>
                                    <br />
                                    <p>

                                        PR Techno Solutions Pvt. Ltd. reserve the right to suspend or terminate the user account with immediate effect and for an indefinite period, if it has a reason to believe that the registration data or any other data provided by user is incorrect or false, or that the security of user account has been compromised in any way, or any other reason PR Techno Solutions Pvt. Ltd. may find it to just.

                                    </p>
                                    <br />
                                    <p>

                                        User on his own responsibility to check and ensure that the application downloaded from the android is correct and accurate for his device. PR Techno Solutions Pvt. Ltd. is not liable if user fails to download compatible version or the wrong version of the application. PR Techno Solutions Pvt. Ltd. reserves the right to terminate the service and the use of the application or application with an incompatible or unauthorized device. For any clarifications users are requested to contact customer support.


                                    </p>
                                </li>

                                <li>

                                    <u>
                                        <b>
                                            Loading And Unloading
                                        </b>
                                    </u>


                                    <p>
                                        Upon booking user will receive details of the nearest vehicle and mobile number of the driver and user is responsible for loading and unloading, PR Techno Solutions Pvt. Ltd. is not providing loading and unloading facilities but an option have been given to choose for loading and unloading option on opting the said tool, the driver may at his discretion provide restricted loading and unloading assistance upon charging. Waiting charges are applicable as mentioned in the fare chart, please refer fare chart for more information.

                                    </p>
                                </li>

                                <li>
                                    <u><b>Pricing</b></u>

                                    <p>


                                        The payment shall be made at the time of cargo delivery directly to driver or through an online or third party payment gateways, all the taxes and insurance, surcharges, toll charges shall be borne by user. Prices displayed in the application are estimated price, final price depends on the goods delivery point and quantity of the goods, the final price will be popped up only on completion of the trip and it is understood that the service cannot be provided for the prices below tentative price.


                                    </p>
                                    <br />
                                    <p>


                                        Customer will receive an alert call either from the PR Techno Solutions Pvt. Ltd. or from the driver of the vehicle to provide the estimated time of delivery, the customer shall assure his presence or the presence of the other person whom he believes and authorize him/her to take the delivery of the goods.


                                    </p>
                                    <br />
                                    <p>


                                        If the customer or authorized person is not available at the address provided for delivery, the vehicle will wait for 15 minutes without any charges later on waiting charges will be applicable per hour. The maximum waiting time will not be more than one hour. If customer or the authorized person(s) are not available to take the delivery after the said one hour, the goods will be kept in the office of the PR Techno Solutions Pvt. Ltd. and PR Techno Solutions Pvt. Ltd. is not liable for any loss,  damages, or theft in any way. Customer will claim the goods by providing proper proof within two days from the schedule time of delivery and further can seek the delivery of the good. If the customer fail to claim within the stipulated time the goods so kept in the office of the PR Techno Solutions Pvt. Ltd. will be confiscated by PR Techno Solutions Pvt. Ltd. by providing the prior notice to the customer or to his / her authorised person.


                                    </p>
                                    <br />
                                    <p>

                                        The prices in the application is only indicative and tentative prices and the said prices does not include the cost of insurance, PR Techno Solutions Pvt. Ltd. will suggest the user to insure the goods that being transported, it neither insisting the user to insure nor suggest any particular policy, availing insurance is purely optional to user.

                                    </p>
                                    <br />
                                    <p>


                                        User acknowledge and understood that there would not be any change in the drop location and PR Techno Solutions Pvt. Ltd. does not allow any change in the drop location, once the booking is confirmed, to change in location user shall cancel the booking and rebook once again.


                                    </p>
                                </li>

                                <li>



                                    <u>
                                        <b>
                                            Modification &amp; User Responsibility Towards The Content Of Application

                                        </b>
                                    </u>


                                    <p>


                                        PR Techno Solutions Pvt. Ltd. is only authorized to modify, publish, and upload in the application. User shall use the website for lawful purposes only, and shall not host, display, upload, modify, publish, transmit, update, or share any information that belongs to another person and to which user do not have any right to, interferes with another user's use and enjoyment of the application, or any other individual's use and enjoyment of similar services, or harmful, harassing, blasphemous, defamatory, obscene, pornographic, libellous, invasive of another's privacy, hateful or ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, otherwise unlawful in any manner whatsoever, or any statement or acts which cause damage to the sovereignty and integrity of the country or / and any acts which are prohibited under the law. User solely remains responsible for the content of the materials posted in the app or website.
                                    </p>
                                </li>

                                <li>



                                    <u>
                                        <b>
                                            Intellectual Property
                                        </b>
                                    </u>


                                    <p>


                                        All the font, design, colouring, user and visual interfaces’, graphics, photographs, trademarks, logos, audio which includes sound and music, writings, artistic work, computer code (collectively, "content"), including arrangement of such content, contained on the application is owned, controlled, or licensed by PR Techno Solutions Pvt. Ltd. and it is protected by intellectual property laws and shall not be copied, imitated, or used in whole or in part and no content may be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, or distributed in any way (including "mirroring") to any other computer, server, website, or other medium for publication, distribution, or for any commercial enterprise, without our express prior written consent.


                                    </p>

                                </li>
                                <li>



                                    <u>
                                        <b>
                                            Third Party Websites
                                        </b>
                                    </u>


                                    <p>


                                        PR Techno Solutions Pvt. Ltd. do not take  responsibility or liability for the actions, products, content, and services on the application which are linked to affiliates and / or third party websites using our application or otherwise. PR Techno Solutions Pvt. Ltd. will not take any responsibility even the provide links to the third party websites of affiliated companies and certain other businesses. PR Techno Solutions Pvt. Ltd. do not warrant the offerings of any of these businesses, individuals, or the content of such third party website(s). We do not in any way endorse any third party website(s) or content thereof.


                                    </p>
                                </li>

                                <li>
                                    <u><b>Disclaimers</b></u>

                                    <ol type=a>
                                        <li>



                                            <p>
                                                Except for our limited role in providing vehicle booking facility for goods / cargos transportation through the application PR Techno Solutions Pvt. Ltd. not involved in any underlying transaction between PR Techno Solutions Pvt. Ltd. and user or between user to user.


                                            </p>

                                        </li>


                                        <li>
                                            <p>


                                                PR Techno Solutions Pvt. Ltd. is not liable for any third party advertisements that may displayed on application.


                                            </p>


                                        </li>

                                        <li>
                                            <p>


                                                PR Techno Solutions Pvt. Ltd. shall not be liable for the quality, safety, reliability, legality, delivery, or any other aspect of any service that user may avail using the application. User’s use of the service is at his/her own risk.


                                            </p>

                                        </li>

                                        <li>
                                            <p>


                                                PR Techno Solutions Pvt. Ltd. disclaims all warranties of any kind whether express or implied including without limitation and any promises made by vehicle provider.


                                            </p>
                                        </li>




                                        <li>
                                            <p>


                                                PR Techno Solutions Pvt. Ltd. shall not be responsible or liable for any loss or damage, howsoever caused or suffered by the user arising out of the use of vehicle, vehicle’s driver, or from vehicle owner.


                                            </p>
                                        </li>


                                        <li>
                                            <p>


                                                User acknowledge that though PR Techno Solutions Pvt. Ltd. employs certain quality control measures. PR Techno Solutions Pvt. Ltd. does not and cannot exercise control over the quality or safety of the transportation that is made use of by user through the services.


                                            </p>
                                        </li>


                                        <li>
                                            <p>


                                                The drivers under the agreement with PR Techno Solutions Pvt. Ltd. are professionals and well trained and technically equipped in line of transportation and delivery.


                                            </p>
                                        </li>


                                        @*<li>
                                            <p>


                                                PR Techno Solutions Pvt. Ltd. shall do a thorough background check (driving license &amp; and any other required permits) to assure that the drivers are professionals and trained to carry out cargo transportation.


                                            </p>
                                        </li>*@



                                        <li>
                                            <p>


                                                PR Techno Solutions Pvt. Ltd. will not be liable for any damages of any kind of issues arising from the use of the service offered by the vehicle provider.


                                            </p>
                                        </li>

                                        <li>

                                            <p>



                                                Limited to direct or indirect, incidental, punitive, and consequential damages. PR Techno Solutions Pvt. Ltd. encourages user to notify any complaints that user may have against the drivers and vehicle providers of any cargo that user may have hired using the platform.


                                            </p>
                                        </li>

                                        <li>
                                            <p>


                                                All the vehicles registered with PR Techno Solutions Pvt. Ltd. platform are continuously tracked using GPS for security reasons only. It is expressly made clear to the user, that PR Techno Solutions Pvt. Ltd. does not own neither any cargo vehicles nor does it directly or indirectly employ any of the vehicle providers and drivers of the cargo vehicles. PR Techno Solutions Pvt. Ltd. disclaims any and all liability that arose on the omissions and commissions in respect of the vehicle providers and vehicle drivers.
                                                -

                                            </p>
                                        </li>



                                        <li>
                                            <p>


                                                The GPS location on the map made available on the application is basic in nature, and meant to provide guidance to drivers only. User acknowledge that it is not intended to be relied upon in situations where precise location information is required where erroneous, inaccurate or incomplete data may lead to death, personal injury, property or environmental damage. PR Techno Solutions Pvt. Ltd. does not guarantee the availability, accuracy, completeness, reliability, or timeliness of location data displayed.


                                            </p>
                                        </li>



                                        <li>
                                            <p>


                                                PR Techno Solutions Pvt. Ltd. do not authorize anyone to make a warranty on its behalf and user may not rely on any such statement of warranty as a warranty by PR Techno Solutions Pvt. Ltd.


                                            </p>
                                        </li>



                                        <li>
                                            <p>


                                                PR Techno Solutions Pvt. Ltd. do not warrant that user’s use of the application or services will be accurate, complete, reliable, current, secure, uninterrupted, always available, error-free, will meet user requirements, that any defects in the application will be corrected, that the application is free of viruses, or other harmful components. PR Techno Solutions Pvt. Ltd. disclaims liability for and no warranty is made with respect to connectivity and availability of the application or services.


                                            </p>
                                        </li>

                                    </ol>
                                </li>



                                <li>



                                    <u>
                                        <b>
                                            Notices And Communication
                                        </b>
                                    </u>




                                    <ol type=a>

                                        <li>
                                            <p>

                                                	Any notice or notification in relation to these T&amp;C’s which you wish to make to PR Techno Solutions Pvt. Ltd. must be made in writing to:





                                            </p>
                                     
                                            <p>


                                                Attn: team PR Techno Solutions Pvt. Ltd.



                                            </p>
                                            
                                            <p>


                                                E-mail: support@pickcargo.in


                                            </p>

                                        </li>
                                        <li>
                                            <p>


                                                All your communication with PR Techno Solutions Pvt. Ltd. will be of a professional nature only. User shall not contact PR Techno Solutions Pvt. Ltd. to harass, intimidate, threaten any person, or to promote any cause which you may support.


                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                User will be subject to our T&amp;C’s and privacy policy




                                            </p>
                                    </ol>
                                </li>


                                <li>



                                    <u>
                                        <b>
                                            Indemnity And Limitation Of Liability
                                        </b>
                                    </u>




                                    <ol type=a>
                                        <li>
                                            <p>


                                                User will defend, indemnify, and hold harmless PR Techno Solutions Pvt. Ltd. and each of its affiliates (and its respective employees, directors, agents, and representatives) from and against any and all claims, costs, losses, damages, judgments, penalties, interest, and expenses (including reasonable lawyers' fees) arising out of any claims that relates to the use or misuse of services or any violation of these T&C’s.


                                            </p>
                                        </li>

                                        <li>



                                            For purposes hereof: <b>
                                                &quot;Claim&quot;
                                            </b> means any claim, action, audit, investigation, inquire, or other proceeding instituted by a person, or entity.






                                        </li>
                                        <li>
                                            <p>


                                                User’s sole and exclusive remedy for any disputes with PR Techno Solutions Pvt. Ltd. is the cancellation of his/her account with the site or application. In no event shall PR Techno Solutions Pvt. Ltd. be liable for any special, incidental, indirect, or consequential damages of any kind in connection with this agreement including lost profits, onward transport, personal injury, or property damage related whether in contract or in tort including negligence even if we have been informed in advance of the possibility of such damages. The highest and maximum liability of PR Techno Solutions Pvt. Ltd. is Rs.1000/-.


                                        </li>
                                    </ol>

                                </li>

                                <li>



                                    <u>
                                        <b>
                                            Force Majeure
                                        </b>
                                    </u>




                                    <ol type=a>

                                        <li>
                                            <p>


                                                PR Techno Solutions Pvt. Ltd. shall not be liable for any failure to perform any obligations under this T&C’s, if the performance is prevented, hindered or delayed by a force majeure event and in such case its obligations shall be suspended for so long as the force majeure event continues.


                                            </p>

                                        </li>

                                        <li>


                                            For the purpose of this clause <b>
                                                “Force Majeure Event”
                                            </b> shall mean any event arising due to any cause beyond the reasonable control of PR Techno Solutions Pvt. Ltd.



                                        </li>

                                    </ol>
                                </li>

                                <li>



                                    <u>
                                        <b>
                                            Copyright Complaint
                                        </b>
                                    </u>




                                    <p>


                                        PR Techno Solutions Pvt. Ltd. respects the intellectual property of others, in case user feel that user work has been copied in a way that constitutes copyright infringement. User before taking the adverse action user shall notify such infringement to PR Techno Solutions Pvt. Ltd. at # 3rd Floor, Plot no.12-a, Survey no.71/1, Jai hind Gandhi road, VIP Hills, Madhapur, Hyderabad, 500081, India.


                                    </p>

                                </li>

                                <li>
                                    <u><b>Waiver</b></u>

                                    <p>


                                        PR Techno Solutions Pvt. Ltd. failure, delay, omission to exercise, or enforce any rights or provisions of these T&C’s will not constitute a waiver of such rights or provisions. A waiver on any one occasion will not be construed as a bar or waiver of any rights or remedies on future occasions. Any claim in relation to services or T&C’s should be filed within 1 (one) months from when the cause of action arose. Any claims filed beyond this time period shall be barred.


                                    </p>
                                </li>

                                <li>



                                    <u>
                                        <b>
                                            Revision Of T&amp;Cs

                                        </b>
                                    </u>



                                   
                                            <p>


                                                PR Techno Solutions Pvt. Ltd. reserve the right to change any of the T&C’s, any policies, guidelines governing the application or services at any time and at its sole discretion without any notice.


                                            </p>
                                       
                                </li>

                                <li>



                                    <u>
                                        <b>
                                            User Grievance Redressal Policy
                                        </b>
                                    </u>



                                  
                                            <p>


                                                If user is not satisfied with the quality of service(s) offered or have any other complaints or grievance, please contact PR Techno Solutions Pvt. Ltd. customer care at: <b>+91.40.6 5454 222</b>, also can reach us on: Email:<b> support@pickcargo.in</b>.


                                            </p>


                                       
                                </li>

                                <li>
                                    <u><b>	Severability</b></u>

                                    <p>


                                        If any part of these T&amp;C’s is determined to be invalid or unenforceable pursuant to the applicable laws then the invalid or unenforceable provisions will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of these T&C’s will continue in effect.


                                    </p>

                                </li>
                            </ol>

                        </div>

                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>

