
@{
    ViewBag.Title = "addshift";
    Layout = "~/Areas/OperatorWeb/Views/Shared/_Layout.cshtml";
}

<div class="container">    
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h4 class="box-title">How do i add a shift ?</h4>
            <h5>
                On the calendar, any car that has no one assigned to it will be
                blank. Simply touch the empty area next to the car and you will take
                to the shift creation screen. Fill in the form to create a new shift.
                All fields are mandatory. If you hit the Dismiss button you will be
                taken back to the original screen with no shift created
            </h5>
        </div>
        <div class="col-md-12 col-xs-12">
            <h4 class="box-title">Related topics</h4>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <a href="#">Do my driver get alerts/msgs with details of their scheduled shifts ?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <a href="#">How do i select the days of the week that the driver will work on ?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <a href="#">I am trying to set a schedule for a driver but i am getting a box that says, "Oops! Driver/Car Conflict".
            What does that mean ?</a>
        </div>
    </div>
</div>

