
@{
    ViewBag.Title = "Corporate profile";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="left-menu">
                    <ul>
                        <li class="active"><a class="has-ripple" href="@Url.Content("~/Help/menu?name=whatiscp")"><i class="fa fa-chevron-circle-right"></i> What is corporate profile</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=activatecp")"><i class="fa fa-chevron-circle-right"></i> How can i activate corporate profile</a></li>
                        <li><a class="has-ripple" href="@Url.Content("~/Help/menu?name=receivecpreports")"><i class="fa fa-chevron-circle-right"></i> When do i receive my travel reports</a></li>
                        
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
