
@{
    ViewBag.Title = "App is showing incorrect location/not detecting location";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="col l8 offset-l1 m7 offset-m1 s12" data-reactid=".17.2.0.0.3">
                    <div data-reactid=".17.2.0.0.3.0">
                        <div class="dt-title" data-reactid=".17.2.0.0.3.0.0"><div class="dt-back" data-reactid=".17.2.0.0.3.0.0.0"></div><span data-reactid=".17.2.0.0.3.0.0.1">App is showing incorrect location/not detecting location.</span></div><div class="issue-desc" data-reactid=".17.2.0.0.3.0.1">
                            <p><span style="font-weight: 400;">If your app is not showing your correct location, you can enter your pickup address in the search bar or move the map to where you want to be picked up.</span></p>
                            <p><span style="font-weight: 400;">You can also try the following troubleshooting steps:</span></p>
                            <p>- Check to see if your phone's <strong>Location services</strong> are enabled.<br>- On an android phone, we recommend you set your location services to <strong>high accuracy</strong> mode.<br>- Restart the app.<br>- Restart your phone.<br>- Check to see if your app is updated to the latest version.</p>
                            <p><span style="font-weight: 400;">If you are still facing issues with </span><strong>location</strong><span style="font-weight: 400;"> in your app, please tell us about it here.</span></p>
                            <p><span style="font-weight: 400;">Please mention t</span>he exact issue you are facing along with any error messages.</p>
                        </div><noscript data-reactid=".17.2.0.0.3.0.2"></noscript><noscript data-reactid=".17.2.0.0.3.0.4"></noscript><div data-reactid=".17.2.0.0.3.0.5"><div class="support-content  user-issue" data-reactid=".17.2.0.0.3.0.5.0"><form action="" data-reactid=".17.2.0.0.3.0.5.0.0"><div class="input-field" data-reactid=".17.2.0.0.3.0.5.0.0.0"><input name="user-email" value="" data-reactid=".17.2.0.0.3.0.5.0.0.0.0" type="email"><label class="for-email" for="user-email" data-reactid=".17.2.0.0.3.0.5.0.0.0.1">Your mail id</label></div><div class="write-desc" data-reactid=".17.2.0.0.3.0.5.0.0.1"><div name="user-desc" class="autoExpand null" data-reactid=".17.2.0.0.3.0.5.0.0.1.0" contenteditable="true"></div><label for="user-desc" data-reactid=".17.2.0.0.3.0.5.0.0.1.1">Description</label></div><span data-reactid=".17.2.0.0.3.0.5.0.0.2"></span><button data-target="search-modal" class="search-modal-trigger waves-effect btn submit-issue" data-reactid=".17.2.0.0.3.0.5.0.0.3">Submit</button></form></div></div><div class="d-footer" data-reactid=".17.2.0.0.3.0.6"><div class="dt-title" data-reactid=".17.2.0.0.3.0.6.0">For immediate assistance</div><div data-reactid=".17.2.0.0.3.0.6.1"><div class="" data-reactid=".17.2.0.0.3.0.6.1.0"><div data-reactid=".17.2.0.0.3.0.6.1.0.0"><a class="support-link pull-left" data-reactid=".17.2.0.0.3.0.6.1.0.0.0"><span data-reactid=".17.2.0.0.3.0.6.1.0.0.0.0">CALL US</span><span class="padding-left-15px" data-reactid=".17.2.0.0.3.0.6.1.0.0.0.1">3355 3355</span></a></div><div class="clearfix" data-reactid=".17.2.0.0.3.0.6.1.0.2"></div></div><div data-reactid=".17.2.0.0.3.0.6.1.1"><small data-reactid=".17.2.0.0.3.0.6.1.1.0">Please add your std code before the number.</small></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
