
@{
    ViewBag.Title = "I referred my friend but did not get a free-ride coupon.";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="col l8 offset-l1 m7 offset-m1 s12" data-reactid=".d.2.0.0.3">
                    <div data-reactid=".d.2.0.0.3.0">
                        <div class="dt-title" data-reactid=".d.2.0.0.3.0.0"><div class="dt-back" data-reactid=".d.2.0.0.3.0.0.0"></div><span data-reactid=".d.2.0.0.3.0.0.1">I referred my friend but did not get a free-ride coupon.</span></div><div class="issue-desc" data-reactid=".d.2.0.0.3.0.1">
                            <p>You <strong><em>may not receive a free ride coupon</em></strong> on referring your friends if :-&nbsp;</p>
                            <p><span style="line-height: 1.5;">- &nbsp;Referral benefits have been discontinued in your city. Currently </span><em style="line-height: 1.5;"><strong>referral benefits</strong></em><em style="line-height: 1.5;"><strong><em> have been</em> discontinued</strong> in Bangalore, Chandigarh, Chennai, Delhi, Hyderabad, Kolkata, Kurukshetra, Mumbai, and Patiala.</em><br><span style="line-height: 1.5;">- &nbsp;Your friend takes his first Ola ride <strong><em>after 90 days of registering with Ola using your referral code</em></strong><em>.</em></span><br><span style="line-height: 1.5;">- &nbsp;Your friend has entered an incorrect referral code while registering on the Ola app.</span><br><span style="line-height: 1.5;">-</span><strong style="line-height: 1.5;"> &nbsp;</strong><span style="line-height: 1.5;">Your friend has booked an Ola before using your registered mobile number or email ID.</span><br><span style="line-height: 1.5;">- &nbsp;Your friend has registered on an older version of the Ola app. It is recommended to download the latest version of the Ola app from the authorized digital app stores only (Google Play Store for Android, App store for iOS, Windows store for Windows OS) .</span><br><span style="line-height: 1.5;">- &nbsp;Your friend has created multiple Ola accounts on the same phone</span><br><span style="line-height: 1.5;">- &nbsp;Your friend has registered on a phone which is not compatible with the latest Android version.</span></p>
                            <p><strong>Note </strong>-&nbsp;We may terminate your or your friend’s eligibility for referral amount, if our system identifies that either you or your friend has violated any of the terms and conditions of our referral program or if we observe any misuse of the referral program.</p>
                            <p>Please refer to our referral terms and conditions <a href="https://www.olacabs.com/info/faqs#ReferralScheme">here</a></p>
                            <p>If you have any query or issue, please tell us about it here.</p>
                            <p>Please mention the referral code that you used while&nbsp;registering.</p>
                        </div><noscript data-reactid=".d.2.0.0.3.0.2"></noscript><div class="rel-desk" data-reactid=".d.2.0.0.3.0.3"><div class="sup-title" data-reactid=".d.2.0.0.3.0.3.0">Related topics</div><ul class="faq" data-reactid=".d.2.0.0.3.0.3.1"><li data-reactid=".d.2.0.0.3.0.3.1.0"><a class="support-link-small" data-reactid=".d.2.0.0.3.0.3.1.0.0">What is Ola's referral program?</a></li><li data-reactid=".d.2.0.0.3.0.3.1.1"><a class="support-link-small" data-reactid=".d.2.0.0.3.0.3.1.1.0">Where can I find my free-ride coupons?</a></li><li data-reactid=".d.2.0.0.3.0.3.1.2"><a class="support-link-small" data-reactid=".d.2.0.0.3.0.3.1.2.0">I am unable to find my referral code.</a></li></ul></div><noscript data-reactid=".d.2.0.0.3.0.4"></noscript><div data-reactid=".d.2.0.0.3.0.5"><div class="support-content  user-issue" data-reactid=".d.2.0.0.3.0.5.0"><form action="" data-reactid=".d.2.0.0.3.0.5.0.0"><div class="input-field" data-reactid=".d.2.0.0.3.0.5.0.0.0"><input name="user-email" type="email" value="" data-reactid=".d.2.0.0.3.0.5.0.0.0.0"><label class="for-email" for="user-email" data-reactid=".d.2.0.0.3.0.5.0.0.0.1">Your mail id</label></div><div class="write-desc" data-reactid=".d.2.0.0.3.0.5.0.0.1"><div name="user-desc" class="autoExpand null" contenteditable="true" data-reactid=".d.2.0.0.3.0.5.0.0.1.0"></div><label for="user-desc" data-reactid=".d.2.0.0.3.0.5.0.0.1.1">Description</label></div><span data-reactid=".d.2.0.0.3.0.5.0.0.2"></span><button data-target="search-modal" class="search-modal-trigger waves-effect btn submit-issue" data-reactid=".d.2.0.0.3.0.5.0.0.3">Submit</button></form></div></div><div class="d-footer" data-reactid=".d.2.0.0.3.0.6"><div class="dt-title" data-reactid=".d.2.0.0.3.0.6.0">For immediate assistance</div><div data-reactid=".d.2.0.0.3.0.6.1"><div class="" data-reactid=".d.2.0.0.3.0.6.1.0"><div data-reactid=".d.2.0.0.3.0.6.1.0.0"><a class="support-link pull-left" data-reactid=".d.2.0.0.3.0.6.1.0.0.0"><span data-reactid=".d.2.0.0.3.0.6.1.0.0.0.0">CALL US</span><span class="padding-left-15px" data-reactid=".d.2.0.0.3.0.6.1.0.0.0.1">3355 3355</span></a></div><div class="clearfix" data-reactid=".d.2.0.0.3.0.6.1.0.2"></div></div><div data-reactid=".d.2.0.0.3.0.6.1.1"><small data-reactid=".d.2.0.0.3.0.6.1.1.0">Please add your std code before the number.</small></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
