
@{
    ViewBag.Title = "How can I check my Ola Money balance?";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="col l8 offset-l1 m7 offset-m1 s12" data-reactid=".z.2.0.0.3">
                    <div data-reactid=".z.2.0.0.3.0">
                        <div class="dt-title" data-reactid=".z.2.0.0.3.0.0"><div class="dt-back" data-reactid=".z.2.0.0.3.0.0.0"></div><span data-reactid=".z.2.0.0.3.0.0.1">How can I check my Ola Money balance?</span></div><div class="issue-desc" data-reactid=".z.2.0.0.3.0.1">
                            <p>You can see your Ola Money balance beside the <strong>Ola Money</strong> button in the app menu.<img src="https://olacabs.zendesk.com/hc/en-us/article_attachments/202353791/Hamburger_3x.png" alt="" width="18" height="18"></p>
                            <p>Clicking on the <strong>Ola Money</strong> button, takes you to the Ola Money page. Here too, you can see your current balance.</p>
                            <p><em>If you have further queries, please write to <strong>care@zipcash.in</strong></em> <em>for a faster response.</em></p>
                        </div><noscript data-reactid=".z.2.0.0.3.0.2"></noscript><div class="rel-desk" data-reactid=".z.2.0.0.3.0.3"><div class="sup-title" data-reactid=".z.2.0.0.3.0.3.0">Related topics</div><ul class="faq" data-reactid=".z.2.0.0.3.0.3.1"><li data-reactid=".z.2.0.0.3.0.3.1.0"><a class="support-link-small" data-reactid=".z.2.0.0.3.0.3.1.0.0">How can I recharge Ola Money?</a></li><li data-reactid=".z.2.0.0.3.0.3.1.1"><a class="support-link-small" data-reactid=".z.2.0.0.3.0.3.1.1.0">How can I redeem a promo code?</a></li><li data-reactid=".z.2.0.0.3.0.3.1.2"><a class="support-link-small" data-reactid=".z.2.0.0.3.0.3.1.2.0">Where can I see my Ola Money transactions?</a></li></ul></div><noscript data-reactid=".z.2.0.0.3.0.4"></noscript><div data-reactid=".z.2.0.0.3.0.5"></div><div class="survey-container" data-reactid=".z.2.0.0.3.0.7"><div class="survey-head" data-reactid=".z.2.0.0.3.0.7.0"><div class="title" data-reactid=".z.2.0.0.3.0.7.0.0">Was this article helpful?</div></div><div class="survey-body" data-reactid=".z.2.0.0.3.0.7.1"><div class="survey-rate" data-reactid=".z.2.0.0.3.0.7.1.0"><div class="survey-rate-container" data-reactid=".z.2.0.0.3.0.7.1.0.0"><div class="rate-button-container" data-reactid=".z.2.0.0.3.0.7.1.0.0.0"><a class="yes support-link" data-reactid=".z.2.0.0.3.0.7.1.0.0.0.0">Yes</a><a class="no support-link" data-reactid=".z.2.0.0.3.0.7.1.0.0.0.1">No</a></div></div></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
