
@{
    ViewBag.Title = "I am getting invoices for rides I have not taken.";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="col l8 offset-l1 m7 offset-m1 s12" data-reactid=".31.2.0.0.3">
                    <div data-reactid=".31.2.0.0.3.0">
                        <div class="dt-title" data-reactid=".31.2.0.0.3.0.0"><div class="dt-back" data-reactid=".31.2.0.0.3.0.0.0"></div><span data-reactid=".31.2.0.0.3.0.0.1">I am getting invoices for rides I have not taken.</span></div><div class="issue-desc" data-reactid=".31.2.0.0.3.0.1">
                            <p><span style="font-weight: 400;">If you find that bookings are being made using your account without your permission, please change your password immediately and let us know about the issue.</span></p>
                            <p><span style="font-weight: 400;">If your email ID is not associated with an Ola account but you are getting invoices in your email-</span></p>
                            <p><span style="font-weight: 400;">You can click on the </span><strong>Report Abuse</strong><span style="font-weight: 400;"> link available in the invoice emails. This will block the Ola account associated with your email ID from making bookings.</span></p>
                            <p><span style="font-weight: 400;">You can also write to us about any suspicions of misuse.</span></p>
                        </div><noscript data-reactid=".31.2.0.0.3.0.2"></noscript><div class="rel-desk" data-reactid=".31.2.0.0.3.0.3"><div class="sup-title" data-reactid=".31.2.0.0.3.0.3.0">Related topics</div><ul class="faq" data-reactid=".31.2.0.0.3.0.3.1"><li data-reactid=".31.2.0.0.3.0.3.1.0"><a class="support-link-small" data-reactid=".31.2.0.0.3.0.3.1.0.0">I am not able to log in to my account.</a></li><li data-reactid=".31.2.0.0.3.0.3.1.1"><a class="support-link-small" data-reactid=".31.2.0.0.3.0.3.1.1.0">Changing password</a></li><li data-reactid=".31.2.0.0.3.0.3.1.2"><a class="support-link-small" data-reactid=".31.2.0.0.3.0.3.1.2.0">Forgot password</a></li></ul></div><noscript data-reactid=".31.2.0.0.3.0.4"></noscript><div data-reactid=".31.2.0.0.3.0.5"><div class="support-content  user-issue" data-reactid=".31.2.0.0.3.0.5.0"><form action="" data-reactid=".31.2.0.0.3.0.5.0.0"><div class="input-field" data-reactid=".31.2.0.0.3.0.5.0.0.0"><input name="user-email" value="" data-reactid=".31.2.0.0.3.0.5.0.0.0.0" type="email"><label class="for-email" for="user-email" data-reactid=".31.2.0.0.3.0.5.0.0.0.1">Your mail id</label></div><div class="write-desc" data-reactid=".31.2.0.0.3.0.5.0.0.1"><div name="user-desc" class="autoExpand null" data-reactid=".31.2.0.0.3.0.5.0.0.1.0" contenteditable="true"></div><label for="user-desc" data-reactid=".31.2.0.0.3.0.5.0.0.1.1">Description</label></div><span data-reactid=".31.2.0.0.3.0.5.0.0.2"></span><button data-target="search-modal" class="search-modal-trigger waves-effect btn submit-issue" data-reactid=".31.2.0.0.3.0.5.0.0.3">Submit</button></form></div></div><div class="d-footer" data-reactid=".31.2.0.0.3.0.6"><div class="dt-title" data-reactid=".31.2.0.0.3.0.6.0">For immediate assistance</div><div data-reactid=".31.2.0.0.3.0.6.1"><div class="" data-reactid=".31.2.0.0.3.0.6.1.0"><div data-reactid=".31.2.0.0.3.0.6.1.0.0"><a class="support-link pull-left" data-reactid=".31.2.0.0.3.0.6.1.0.0.0"><span data-reactid=".31.2.0.0.3.0.6.1.0.0.0.0">CALL US</span><span class="padding-left-15px" data-reactid=".31.2.0.0.3.0.6.1.0.0.0.1">3355 3355</span></a></div><div class="clearfix" data-reactid=".31.2.0.0.3.0.6.1.0.2"></div></div><div data-reactid=".31.2.0.0.3.0.6.1.1"><small data-reactid=".31.2.0.0.3.0.6.1.1.0">Please add your std code before the number.</small></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
