
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OperatorWeb/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row marginTop">
        <div class="col-md-12 col-xs-12">
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-navy">
                        22 Sep. 2016
                    </span>
                </li>                
                <li>
                    <i class="fa fa-sign-out bg-blue" aria-hidden="true"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 08:15 am</span>
                        <h3 class="timeline-header"><a href="#">Logged Out</a></h3>
                        <div class="timeline-body">
                            TS15UA2095 - Indica
                        </div>                        
                    </div>
                </li>
                <li>
                    <i class="fa fa-ban bg-aqua" aria-hidden="true"></i>                    
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 08:13 am</span>
                        <h3 class="timeline-header"><a href="#">Cancelled</a></h3>
                        <div class="timeline-body">
                            driver: customer_related_issue
                        </div>                        
                    </div>
                </li>
                <li>
                    <i class="fa fa-ban bg-aqua" aria-hidden="true"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 08:13 am</span>
                        <h3 class="timeline-header"><a href="#">Cancelled</a></h3>
                        <div class="timeline-body">
                            driver: customer_related_issue - PickC Share
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-ban bg-red" aria-hidden="true"></i>
                    <div class="timeline-item">                        
                        <div class="timeline-body">
                            0 PickC Share Booking
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-ban bg-green" aria-hidden="true"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 08:12 am</span>
                        <h3 class="timeline-header"><a href="#">Booking Received - PickC Share</a></h3>
                        <div class="timeline-body">
                            PickUp Location: Road Number 4,
                            Vivekananda Nagar Extension, Kukatpally,
                            Hyderabad, Telangana 500072, India
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-sign-in bg-blue" aria-hidden="true"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 08:12 am</span>
                        <h3 class="timeline-header"><a href="#">Logged In</a></h3>
                        <div class="timeline-body">
                            TS15UA2095 - Indica
                        </div>
                    </div>
                    
                </li>
                <li></li>
            </ul>
        </div>
    </div>
</div>

